// spacer sizes
$space1:   1;
$space2:   2;
$space3:   3;
$space4:   4;
$space5:   5;
$space6:   6;
$space7:   7;
$space8:   8;
$space9:   9;
$space10: 10;

// spacer array
$spacer-array: $space1  $space2 $space3 $space4 $space5 $space6 $space7 $space8 $space9 $space10;

@mixin generate-breakpoint($i, $label, $breakpoint, $space) {
  @include breakpoint($breakpoint) {
    .m0--#{$label} { margin: 0; }
    .mt0--#{$label} { margin-top: 0; }
    .mr0--#{$label} { margin-right: 0; }
    .mb0--#{$label} { margin-bottom: 0; }
    .ml0--#{$label} { margin-left: 0; }
    .mx0--#{$label} { margin-right: 0; margin-left: 0; }
    .my0--#{$label} { margin-top: 0; margin-bottom: 0; }

    .p0--#{$label} { padding: 0; }
    .pt0--#{$label} { padding-top: 0; }
    .pr0--#{$label} { padding-right: 0; }
    .pb0--#{$label} { padding-bottom: 0; }
    .pl0--#{$label} { padding-left: 0; }
    .px0--#{$label} { padding-right: 0; padding-left: 0; }
    .py0--#{$label} { padding-top: 0; padding-bottom: 0; }

    .m#{$i}--#{$label}  { margin: #{$space}rem; }
    .mt#{$i}--#{$label} { margin-top: #{$space}rem; }
    .mr#{$i}--#{$label} { margin-right: #{$space}rem; }
    .mb#{$i}--#{$label} { margin-bottom: #{$space}rem; }
    .ml#{$i}--#{$label} { margin-left: #{$space}rem; }
    .mx#{$i}--#{$label} { margin-left: #{$space}rem; margin-right: #{$space}rem; }
    .my#{$i}--#{$label} { margin-top: #{$space}rem; margin-bottom: #{$space}rem; }

    .p#{$i}--#{$label}  { padding: #{$space}rem; }
    .pt#{$i}--#{$label} { padding-top: #{$space}rem; }
    .pr#{$i}--#{$label} { padding-right: #{$space}rem; }
    .pb#{$i}--#{$label} { padding-bottom: #{$space}rem; }
    .pl#{$i}--#{$label} { padding-left: #{$space}rem; }
    .px#{$i}--#{$label} { padding-left: #{$space}rem; padding-right: #{$space}rem; }
    .py#{$i}--#{$label} { padding-top: #{$space}rem; padding-bottom: #{$space}rem; }
  }
}

// creates an assortment of classes for each
// item passed into $spacer-array
.m0 { margin: 0; }
.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }
.mx0 { margin-left: 0; margin-right: 0; }
.my0 { margin-top: 0; margin-bottom: 0; }

@each $space in $spacer-array {
  $i: index($spacer-array, $space);

  .m#{$i}  { margin: #{$space}rem; }
  .mt#{$i} { margin-top: #{$space}rem; }
  .mr#{$i} { margin-right: #{$space}rem; }
  .mb#{$i} { margin-bottom: #{$space}rem; }
  .ml#{$i} { margin-left: #{$space}rem; }
  .mx#{$i} { margin-left: #{$space}rem; margin-right: #{$space}rem; }
  .my#{$i} { margin-top: #{$space}rem; margin-bottom: #{$space}rem; }

  .p#{$i}  { padding: #{$space}rem; }
  .pt#{$i} { padding-top: #{$space}rem; }
  .pr#{$i} { padding-right: #{$space}rem; }
  .pb#{$i} { padding-bottom: #{$space}rem; }
  .pl#{$i} { padding-left: #{$space}rem; }
  .px#{$i} { padding-left: #{$space}rem; padding-right: #{$space}rem; }
  .py#{$i} { padding-top: #{$space}rem; padding-bottom: #{$space}rem; }
}

@each $space in $spacer-array {
  $i: index($spacer-array, $space);
  @include generate-breakpoint($i, 'dlg', $desktop-lg, $space);
}

@each $space in $spacer-array {
  $i: index($spacer-array, $space);
  @include generate-breakpoint($i, 'dsm', $desktop-sm, $space);
}

@each $space in $spacer-array {
  $i: index($spacer-array, $space);
  @include generate-breakpoint($i, 'tlg', $tablet-lg, $space);
}

@each $space in $spacer-array {
  $i: index($spacer-array, $space);
  @include generate-breakpoint($i, 'tmd', $tablet-md, $space);
}

@each $space in $spacer-array {
  $i: index($spacer-array, $space);
  @include generate-breakpoint($i, 'tsm', $tablet-sm, $space);
}

@each $space in $spacer-array {
  $i: index($spacer-array, $space);
  @include generate-breakpoint($i, 'mlg', $mobile-lg, $space);
}

@each $space in $spacer-array {
  $i: index($spacer-array, $space);
  @include generate-breakpoint($i, 'msm', $mobile-sm, $space);
}

@each $space in $spacer-array {
  $i: index($spacer-array, $space);
  @include generate-breakpoint($i, 'mxsm', $mobile-xsm, $space);
}
